---
import Image from '~/components/common/Image.astro';
import { type ImageProps } from '~/utils/images-optimization';
interface Props extends ImageProps {
  className?: string;
  link?: string;
  target?: string;
  rel?: string;
  title?: string;
  caption?: string;
}
const {
  className = '',
  link,
  target,
  rel,
  src,
  alt,
  title,
  caption,
  width,
  height,
  widths,
  sizes,
  loading,
} = Astro.props;
const withCaption = !!(caption || title);
---

<figure class={'figure-container ' + className}>
  {
    link != null ? (
      <a href={link} target={target} rel={rel}>
        <Image
          class="mx-auto rounded-md w-full"
          widths={widths ?? [400, 768, 1024, 2040]}
          sizes={
            sizes ??
            '(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px'
          }
          loading={loading ?? 'lazy'}
          width={width ?? 1024}
          height={height ?? 576}
          src={src}
          alt={alt || caption}
        />
      </a>
    ) : (
      <Image
        class="mx-auto rounded-md w-full"
        widths={widths ?? [400, 768, 1024, 2040]}
        sizes={
          sizes ??
          '(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px'
        }
        loading={loading ?? 'lazy'}
        width={width ?? 1024}
        height={height ?? 576}
        src={src}
        alt={alt || caption}
      />
    )
  }

  {
    withCaption && (
      <figcaption>
        {title != null && <h4>{title}</h4>}

        {caption != null && <p>{caption}</p>}
      </figcaption>
    )
  }
</figure>
